<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--120.55.240.83-->
    <add key="ServerIP" value="120.55.240.83"/>
    <add key="ServerPort" value="55558"/>
    <add key="ProgramType" value="STU"/>
    <add key="AutoSend" value="1"/>
  </appSettings>
</configuration>
